/*

ANIMATION AND KEYFRAMES

*/

@keyframes forward{
/*	0%{ 
		transform:translateX(0%); 
	}
    100% { 

    	transform:translateX(-100%); 
    }*/
    0%{
    	transform:translateX(0);
    }
    100%{
    	transform:translateX(-94.7368%);
    }
}
@keyframes backward{
/*	0%{ 
		transform:translateX(0%); 
	}
    100% { 

    	transform:translateX(-100%); 
    }*/
    0%{
    	transform:translateX(-94.7368%);
    }
    100%{
    	transform:translateX(0);
    }
}