/* GENERAL CSS FOR CLUBIN SITE */
@font-face{
	src:url(../fnt/PN-LI.otf);
	font-family:Light-Italic;
}
@font-face{
	src:url(../fnt/PN-R.otf);
	font-family:Regular;
}
@font-face{
	src:url(../fnt/PN-EB.otf);
	font-family:Extra-Bold;
}
html, 
body{
	height:100%;
	width:100%;
	margin: 0 0;
	padding: 0 0;
	color:#faeebc;
	background-color: rgb(9,9,18);
	background:url('../img/clubin-background.png');
	font-family: Helvetica, Arial, sans-serif;
	font-family: Regular;
	font-size:24pt;

}
ul,	
li{
	margin:0 0;
	padding:0 0;
	list-style-type:none; 
}
p{
	display:block;
	padding:0 0 0 0;
	margin:0 0 0 0;
	font-size: .8em;
}
.sub-p{
	font-size: .5em;
}
.int,
.ext{
	text-align: center;
	margin:0 0;
}
.ext{
    height: 100%;
    width:100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.int{
    text-align: center;
}
.cont{
	position:relative;
	top:50%;
	transform:translateY(-50%);
}
.light-italic{
	font-family:Light-Italic;
}

/*.cont{
	display:inline-flex;
	flex-direction:row;
	align-items:center;	top: 50%;
	transform: translateY(-50%);
	text-align:left;
}*/
