/* SPECIFIC CSS FOR CLUBIN SITE */
/*

NAVBAR CSS START

*/
#navbar{
	position:fixed;
	height:auto;
	width:100%;
	padding-top:4em;
	z-index:11000;
}
#navbar img{
	height:72px;
}
#navbar-glyph{
	text-align:left;
	width:50%;
}
#navbar-glyph img{
	padding-left:72px;
}
#navbar-menu{
	text-align:right;
	width:50%;
	margin-left: calc(50% - 144px);
	margin-right:72px;
	height:72px;
	width:72px;
	overflow:hidden;
}
#navbar-menu img{
	left:0;
	top:0;
	height:72px;
	width:auto;
}

/*

NAVBAR CSS END

*/
/*

MENU CSS START

*/
#menu{
	height:100%;
	width:100%;
	background:rgba(9,9,16,.98);
	position:fixed;
	z-index:10000;
	font-family:Extra-Bold;
	font-size:1.5em;
	letter-spacing: .2em;
	line-height:2em;
	text-align:left;
	opacity:0;
	pointer-events: none;
}
#menu ul{
	text-align: left;
	width: calc(100% - 2em);
	padding-left:1em;
}

/*.show{
	opacity:1;
	-webkit-transition: opacity 1.2s;  Safari 
    transition: opacity 1.2s;
    pointer-events: all;
}*/

/*

MENU CSS END

*/
/*

PARENT 1 CSS START

*/
#parent-1{
	width:100%;
	height:100%;
	height: calc(100% - 6em);
	padding-top:6em;
}
#motto{
	padding-top:1.2em;
}
#parent-1-child-1,
#parent-1-child-2{
	width:50%;
	width: calc(50% - 4em);
	heigth:100%;
	height: calc(100% - 3em);
	padding-bottom:3em;
}
#parent-1-child-1{
	padding-left:4em;
}
#parent-1-child-2{
	padding-right:4em;
}
#parent-1-child-1 img{
	align-items:center;
}
#parent-1-child-2{
	text-align: left;
}
#parent-1-child-2 img{
	height:100%;
	width:auto;

}
/*

PARENT 1 CSS END

*/
@media screen and (max-width:1440px){

	#navbar{
		padding-top:2em;
	}
	#navbar-glyph img{
		padding-left:2em;
	}
	#navbar-menu{
		margin-right:2em;
	}
	#parent-1{
		width:100%;
		height:100%;
		height: calc(100% - 6em);
		padding-top:6em;
	}
	#parent-1-child-2 img{
		height:100%;
		width:auto;
		top:0;
	}
}
@media screen and (max-width:1280px){
	#menu{
		font-size:1em;
	}
	#parent-1-child-1,
	#parent-1-child-2{
		width:50%;
		width: calc(50% - 2em);
		padding-bottom:2em;
	}
	#parent-1-child-1{
		padding-left:2em;
	}
	#parent-1-child-2{
		padding-right:2em;
	}	
}
@media screen and (max-width:768px){
	#navbar{
		padding-top:2em;
	}
	#navbar img{
		heigth:48px;
	}
	#navbar-glyph img{
		padding-left:48px;
	}
	#navbar-menu{
		margin-right:48px;
	}
	#menu{
		font-size:1.2em;
		line-height:1.2em;
	}
	#menu ul{
		padding-left:1.4em;
		padding-top:1.4em;
	}
	#parent-1{
		padding-top:4em;
		flex-direction:column-reverse;
		height: 100%;
		height: calc(100% - 4em);
	}
	#parent-1-child-1,
	#parent-1-child-2{
		width:100%;
		padding-left:0;
		padding-right:0;
		padding-bottom:0em;
	}
	#parent-1-child-1{
		height:30%;
		height: calc(30% - 2em);
		width:100%;
		padding-left:0;
		position:relative;
	}
	#parent-1-child-2{
		height:70%;
		height: calc(70% - 2em);
		width:100%;
		padding-right:0 0 0 0;
	}
	#parent-1-child-1 img{
		height:70%;
		width:auto;
		align-items:center;
	}
	#parent-1-child-2{
		text-align:center;
	}
	#parent-1-child-1 img{
		width: 0; 
		height: 0;
		display: none;
	}
}
@media screen and (max-width:520px){
	#menu{
		font-size:.8em;
		line-height:2em;
	}
}
@media screen and (max-width:620px){
	#navbar{
		padding-top:1.2em;
	}
	#navbar img{
		height:36px;
	}
	#navbar-glyph img{
		padding-left:36px;
	}
	#navbar-menu{
		height:36px;
		width:36px;
		margin-right:1.2em;
	}
	#parent-1{
		height:100%;
		height: calc(100% - 2.4em);
		padding-top:2.4em;
		flex-direction:column-reverse;
	}
	#parent-1-child-1{
		height:30%;
		height: calc(30% - 1.2em);
	}
	#parent-1-child-2{
		height: 70%;
		height: calc(70% - 1.2em);
	}
	#parent-1-child-1,
	#parent-1-child-2{
		padding-bottom:0em;
	}
	#parent-1-child-1 img,
	#parent-1-child-2 img{
		height:90%;	
	}
}